<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright © 2013-2016 The Nxt Core Developers.                            ~
  ~ Copyright © 2016-2018 Jelurida IP B.V.                                    ~
  ~ Copyright © 2018 Mircoin Dev Team                                         ~
  ~                                                                           ~
  ~ See the LICENSE.txt file at the top-level directory of this distribution  ~
  ~ for licensing information.                                                ~
  ~                                                                           ~
  ~ Unless otherwise agreed in a custom licensing agreement with Jelurida B.V.,
  ~ no part of the Nxt software, including this file, may be copied, modified,~
  ~ propagated, or distributed except according to the terms contained in the ~
  ~ LICENSE.txt file.                                                         ~
  ~                                                                           ~
  ~ Removal or modification of this copyright notice is prohibited.           ~
  ~                                                                           ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div id="receive_payment_page" class="page">
    <section class="content-header">
        <h1 data-i18n="receive_payment">Receive payment</h1>
    </section>
    <section class="content">
        <div class="data-container">
            <form id="receive_payment_generator" action="#" method="post" class="sidebar-form" autocomplete="off">
                <div class="form-group">
                    <input
                        class="form-control"
                        name="receive_payment_message"
                        placeholder="Message"
                        pattern="[a-zA-Z0-9 /]+"
                        maxlength="64"
                        data-i18n="[placeholder]message"
                        title="Only letters and numbers are allowed"
                    >
                </div>
                <div class="input-group">
                    <input
                        type="text"
                        name="receive_payment_amount"
                        class="form-control"
                        placeholder="Amount"
                        data-i18n="[placeholder]amount"
                        required
                    />
                    <span class="input-group-btn">
                        <button
                            type="submit"
                            name="fulltext_search"
                            class="btn btn-flat"
                        >
                            <i class="fa fa-qrcode"></i>
                        </button>
                    </span>
                </div>
            </form>

            <h2 class="hidden payment_qr_code_header" data-i18n="your_payment_qr_code">Your payment QR code:</h2>
            <div id="receive_payment_qr"></div>
        </div>
    </section>
</div>
